body, html {
    height: 100%;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    text-align: left;
    color: white; 
    background: linear-gradient(165deg, #153826, #0b2c1f, #0f4c40, #255a51);
    background-blend-mode: multiply;
    background-size: cover;
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content within the section */
    width: 100%;
    padding: 20px;
    flex: 1; /* Allow this section to grow and take available space */
}

.intro {
    font-size: 14.5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.profile-photo img {
    width: 240px;
    height: 240px;
    border-radius: 15%;
    margin: 20px 40px; /* Add margin to the right to give space for text */
}

.intro-text {
    max-width: 550px;
}

.intro-text p{
    line-height: 1.4em;
}

.typing {
    font-size: 2.5em;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid white; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

h1 {
    margin: 15px 0; /* Reduced margin */
}

p {
    margin: 15px 0; /* Reduced margin */
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: nowrap; /* Ensure items do not wrap */
}

.social-links a, .resume-button {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s;
    margin-top: -12px;
    color: #444;
    background-color: rgb(243, 238, 238); /* Change the background color as needed */
}

.social-links a:hover, .resume-button:hover {
    background-color: #666; /* Darker background on hover */
}

.resume-container {
    text-align: center; /* Center the content within the container */
    margin-top: 10px;
}


nav {
    background-color: #1d402e;
    overflow: hidden;
    display: flex;
    justify-content: right;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    display: none;
    padding: 20px;
}

.section.active {
    display: block;
}

.about-section {
    text-align: left;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-top: -250px;
}

.about-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 10px;
}

.about-text {
    font-family: 'proxima-nova', sans-serif;
    font-size: 17px;
    align-self: start; 
}

.about-text h2 {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: overline solid 4px;
    margin-top: 50px;
}

.about-text p {
    margin-bottom: 15px;
    line-height: 0.8em;
    font-size: 16px;
}

.about-text ul {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.3em;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-auto-rows: 175px; /* Set a fixed height for each row */
    grid-gap: 10px;
}

.gallery-img {
    width: 92%;
    height: 92%; /* Make sure the image takes up the full cell */
    object-fit: cover; /* This ensures the image covers the cell without distortion */
    border: 2px solid rgb(138, 241, 227);
}

.work-section {
    margin-top: -300px;
}




